		    	</div>




		    	<!-- right sidebar-->
			    <div class="col-3" align="center">
			    	<div class="nav-sidebar">
			    		<div class="row">
			    			<div class="col-md-12">
				    			<img class="img-fluid rounded-circle logo" src="./images/Chef-Neelix-Head.png">
				    			<h6 class="tagline"><strong><em>Hits the spot, wherever you're from!</em></strong></h6>
                                <br/>
									<div class="container">		    			
                                        <a href="./index.html"><button type="button" class="btn btn-primary btn-lg">Recipes</button></a>
                                        <br/><br/>
                                        <a href="./about.html"><button type="button" class="btn btn-primary btn-lg">About</button></a>
                                        <br/><br/>
                                        <a href="./meet-the-chef.html"><button type="button" class="btn btn-primary btn-lg">Meet the Chef</button></a>
				    				</div>
				    		</div>


			    		</div>
			    	</div>
			    </div>
		    </div>


	    </div>
    </body>
</html>
