<!doctype html>
<html>
    <head>
        <title>The Replicator</title>
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-w+8Gqjk9Cuo6XH9HKHG5t5I1VR4YBNdPt/29vwgfZR485eoEJZ8rJRbm3TR32P6k" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Turret+Road|Major+Mono+Display|Lato|Montserrat|Roboto+Mono&display=swap" rel="stylesheet">
        <link href="./styles.css" rel="stylesheet">

    </head>



    <body>
        <div class="container">
            <div class="row">
                

                <!-- left side main section -->
                <div class="col-9">
                    <!-- site header -->
                    <div class="site-header">
                            <h1 class="site-header"><strong>Welcome to the Replicator</strong></h1>
                    </div>